<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header class="header" id="header">
    <a th:href="@{/}" class="logo">
        <img src="/img/logo.png" alt="C++">
    </a>
    <div class="links">
        <a th:href="@{/articles/index}" class="link">Учебные материалы</a>
        <a th:href="@{/training_module}" class="link">Тренажер</a>
        <a th:href="@{/about}" class="link">О нас</a>
    </div>
</header>

<footer>
    <div>
        <p class="footer">
            Авторское право © 2024 ФГБОУ ВО "Новосибирский государственный педагогический университет"
            Разработка и поддержка сайта – ИФМИТО НГПУ
        </p>
    </div>
</footer>
</body>
</html>